# Konfigurace pro AIMapa verze 0.3.8.2

# Server
PORT=3000

# Databáze
MONGODB_URI=mongodb://localhost:27017/aimapa

# Supabase
SUPABASE_URL=https://njjhhamwixjbfibywreo.supabase.co
SUPABASE_KEY=your_supabase_key_here
POSTGRES_CONNECTION=postgresql://postgres:your_password_here@db.njjhhamwixjbfibywreo.supabase.co:5432/postgres
